.mapbox__map-outer {
  position: relative;
  height: 0;
  padding-bottom: 56.25%; // 16x9
}

.mapbox__map-inner {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.mapbox__map {
  width: 100%; height: 100%;
}
